.tabs {
    width: 100%;
    height: 40px;
    background-color: gray;
}

.tabs div {
    width: 10%;
    /* border: 1px solid red; */
    display: inline-block;
    height: 40px;
    padding: 3px;
    cursor: pointer;
}

.tabs div span {
    font-size: 20px;
    color: white;
}

.tabs :hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.allInfo {
    width: 100%;
    height: auto;
    padding: 20px;
}

.std {
    width: 70%;
}

.card {
    width: 20%;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 45%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        text-align: center;
    }
    .img2 {
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .img2 {
        height: 200px !important;
    }
}

@media only screen and (max-width: 330px) {
    .tabs div {
        width: 33% !important;
    }
}

@media only screen and (max-width: 600px) {
    .tabs div {
        width: 30%;
    }
}

@media only screen and (min-width: 600px) {
    .tabs div {
        width: 15%;
    }
}

@media only screen and (max-width: 500px) {
    .std {
        width: 100%;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}