
.infos {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.purpose {
    position: relative;
}

.infos h4 {
    color: black;
}

.bottom-left {
    position: absolute;
    bottom: 180px;
    left: 16px;
}

.card {
    width: 25%;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 0px !important;
    border-radius: 4px;
}

.img2 {
    height: 350px
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 45%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        text-align: center;
    }
    .img2 {
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .img2 {
        height: 200px !important;
    }
}